
<!-- CSS Stylesheets invoke section -->

<link href="/stylesheets/projectStyles.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/side_bar.css" rel="stylesheet" type="text/css">

<!-- Common Footer design section -->
<footer>
    <p id="copyright">&copy;&nbsp;Chitra Roy, College id - 301148774. All 
        right reserved.</p>
  </footer>

  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>