<!-- CSS Stylesheets invoke section -->
<link href="/stylesheets/projectStyles.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/side_bar.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">

<!-- Abount Page design Section -->
<body>
  <!-- Invoking/calling Common Header/navigation bar from Partials -->
    <% include partials/header.ejs %>

    <!-- Home Page  -->

    <div id="allPage">  
    <div id="wrapper">  

        <main>
          <!-- Information About myself  -->
            <h2 class="auto-style2">About Me</h2>
            <h4 id="listing2">Chitra Hajra Roy</h4>
           <p> I am a fulltime student of software Engineering advance diploma course at Centennial College. 
             Object oriented programming is the best part of software Engineering and challenging too. 
             Enjoying every part of it. As part of my working skill, I rely on a unique approach that matches your needs with my services. 
             I like to work with integrity, learning new things and technologies which will help me to grow as an individual to help my team to achieve the target for the assigned work.</p>
           
           <!-- Profile Download section -->
             <p>You Can see my Full Profile here : 
           <a class="btnx" style="width:15% ; height:50%" href="/images/Chitra Hajra Roy_Resume.pdf"><i class="fa fa-download"></i> Download </a>
            </p>
            <p>
              <!-- Detailed onformation on Technology stacks and work exp -->
              <h2 class="auto-style2">Area Of Expertise</h2>
              <!-- list of Tech Stacks -->
              <ul>
                <li>Website Design & Development</li>
                <li>Mobile App Development</li>
                <li>Digital Marketing</li>
                <li>Brand Strategy</li>
              </ul>
             </p>
             <!-- Adding Images or logos for tech stack brands -->
             <P class="auto-style2">Few technologies I’ve been working with</p>
              <br>
              <img src="/images/html5-logo-html-logo-0.png" alt=""  height=100 width=160>
              <img src="/images/javascript-logo.png" alt=""  height=100 width=160>
              <img src="/images/py-logo.png" alt=""  height=100 width=160>
              <img src="/images/c_logo.png" alt=""  height=100 width=160>
              <br><br>          
            
         </main>

              <!-- Side Banner Bar to include pic,contact and social media links  -->      
               <aside>
                <figure>
              <!-- Image -->
                <img src="/images/chitra_pic.jpg" width="300" height="400" alt="real image">
                <!-- Contact and Email -->
                <br><i class="fas fa-phone-volume"></i> (416) 558-9479    
                <br><i class="fas fa-paper-plane"></i> <a href="mailto:Cr_Creations@gmail.com"> Cr_Creations@gmail.com </a>
                </figure>
                <!-- Social Media Information link -->
                <br> Social</br>
                <table id="customers" style="background-color: powderblue;">
                    <tr>
                      <th style="background-color: powderblue;"><a href = "https://www.facebook.com/chitra.roy.94">
                        <img src="/images/Facebook-logo.png" alt=""  height=100 width=110></img></a>
                      </th>
                      <th style="background-color: powderblue;"><a href = "https://www.linkedin.com/in/chitra-roy-93290a193">
                        <img src="/images/lk-logo.png" alt=""  height=100 width=110></img>
                      </a></th>
                    </tr>
                </table>
                <br>
                <br>
             </aside>
              <!-- Invoking/calling Commonfooter bar from Partials -->
              <% include partials/footer.ejs %> 
             </div>
             </div>
