<link href="/stylesheets/projectStyles.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/side_bar.css" rel="stylesheet" type="text/css">

<body>
    <% include partials/header.ejs %>
    <div id="allPage"> 
        
    <div id="wrapper">
        

        <main>
            <h2 class="auto-style2">Mission Statement</h2>
           <p>As part of my process, I rely on a unique approach that matches your needs with my services. From there, we’ll work to strategically tackle, advise, and reach your goals. Learn more about me, my services, and if it’s a good fit for you.</p>
           <p>&nbsp;</p>               
          
           
         </table>
           <h2 class="auto-style2"></h2>
            <table id="customers">
         <tr>
           <th><img src="/images/Web-development-History-Facts.jpg" alt=""  height=300 width=480></img></th>
         
         </tr>
         </table>
       
       
         </main>

                    
               <aside>
                <figure>
                <img src="/images/chitra_pic.jpg" width="300" height="400" alt="real image">
                <br><i class="fas fa-phone-volume"></i> (416) 558-9479    
                <br><i class="fas fa-paper-plane"></i> <a href="mailto:Cr_Creations@gmail.com"> Cr_Creations@gmail.com </a>
                </figure>
                
                <br> Social</br>
                <table id="customers" style="background-color: powderblue;">
                    <tr>
                      <th style="background-color: powderblue;"><a href = "https://www.facebook.com/chitra.roy.94">
                        <img src="/images/Facebook-logo.png" alt=""  height=100 width=110></img></a>
                      </th>
                      <th style="background-color: powderblue;"><a href = "https://www.linkedin.com/in/chitra-roy-93290a193">
                        <img src="/images/lk-logo.png" alt=""  height=100 width=110></img>
                      </a></th>

                      <!-- Add font awesome icons -->

                      
                    </tr></table>

                <br>
                <br>
                <!-- <div class="container">
              
                </div>	 -->
              </aside>
              <% include partials/footer.ejs %> 
             </div>
             </div>


  

