<link href="/stylesheets/projectStyles.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/side_bar.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
<body>
    <% include partials/header.ejs %>
    <div id="allPage"> 
        
    <div id="wrapper">
        

        <main>
            <h2 class="auto-style2">Services Offered</h2>
            <table id="listing" style="width: 500px">
              <tr>
                <td style="height: 25px; " class="auto-style2" colspan="2">
                <h4 id="listing2">Below Are the major services offered</h4>
                </td>
              </tr>
            </table>
              <p>
                      <ul>
                        <li>Website Design & Development</li>
                        <li>Mobile App Development</li>
                        <li>Digital Marketing</li>
                        <li>Python API Development</li>
                        <li>Cloud Computing</li>
                        <li>Opensource ETL pipeline on Big Data</li>

                      </ul>
               </p>     
              
              <img src="/images/web_dev.jpeg" alt=""  height=200 width=220>
              <img src="/images/App-Development.png" alt=""  height=200 width=220>
              <img src="/images/digitalmarketing.jpg" alt=""  height=200 width=220>
              <img src="/images/api.jpg" alt=""  height=200 width=220>
              <img src="/images/cloud-computing.png" alt=""  height=200 width=220>
              <img src="/images/ETL_PIPE.png" alt=""  height=200 width=220>
              


                       
         </main>

                    
               <aside>
                <figure>
                <img src="/images/chitra_pic.jpg" width="300" height="400" alt="real image">
                <br><i class="fas fa-phone-volume"></i> (416) 558-9479    
                <br><i class="fas fa-paper-plane"></i> <a href="mailto:Cr_Creations@gmail.com"> Cr_Creations@gmail.com </a>
                </figure>
                
                <br> Social</br>
                <table id="customers" style="background-color: powderblue;">
                    <tr>
                      <th style="background-color: powderblue;"><a href = "https://www.facebook.com/chitra.roy.94">
                        <img src="/images/Facebook-logo.png" alt=""  height=100 width=110></img></a>
                      </th>
                      <th style="background-color: powderblue;"><a href = "https://www.linkedin.com/in/chitra-roy-93290a193">
                        <img src="/images/lk-logo.png" alt=""  height=100 width=110></img>
                      </a></th>

                    </tr></table>

                <br>
                <br>
            
              </aside>
              <% include partials/footer.ejs %> 
             </div>
             </div>