<!-- CSS Stylesheets invoke section -->
<link href="/stylesheets/projectStyles.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/side_bar.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">

<!-- Services  Page Design section-->
<body>
   <!-- Invoking/calling Common Header/navigation bar from Partials -->
    <% include partials/header.ejs %>

    <!-- Services Page  -->

    <div id="allPage">   
    <div id="wrapper">
        

        <main>
          <!-- Service Offered Heading -->
            <h2 class="auto-style2">Services Offered</h2>
            <table id="listing" style="width: 500px">
              <tr>
                <!-- Sub Heading -->
                <td style="height: 25px; " class="auto-style2" colspan="2">
                <h4 id="listing2">Below Are the major services offered</h4>
                </td>
              </tr>
            </table>
            <!-- Services provided unordered listing -->
              <p>
                      <ul>
                        <li>Website Design & Development</li>
                        <li>Back End Framework Creation with Node.js</li>
                        <li>Front End Framework Creation in Angular</li>
                        <li>Ensuring Accessibility </li>
                        <li>Digital Marketing</li>
                        <li>Python GUI Application</li>
                        <li>Database creation</li>
                        <li>Maintaining Git Repository</li>

                      </ul>
               </p>     
              <!-- Some Images for Visual clarity from the list of service provided -->
              <img src="/images/web_dev.jpeg" alt=""  height=200 width=220>
              <img src="/images/App-Development.png" alt=""  height=200 width=220>
              <img src="/images/digitalmarketing.jpg" alt=""  height=200 width=220>
              <img src="/images/api.jpg" alt=""  height=200 width=220>
              <img src="/images/cloud-computing.png" alt=""  height=200 width=220>
              <img src="/images/databaseimage.jpg" alt=""  height=200 width=220>
              
                       
         </main>

               <!-- Side Banner Bar to include pic,contact and social media links  -->     
               <aside>
                <figure>
                   <!-- Image -->
                <img src="/images/chitra_pic.jpg" width="300" height="400" alt="real image">
                <!-- Contact and Email -->
                <br><i class="fas fa-phone-volume"></i> (647) 472-2353    
                <br><i class="fas fa-paper-plane"></i> <a href="mailto:chitratiya@gmail.com"> chitratiya@gmail.com </a>
                </figure>
                <!-- Social Media Information link -->
                <br> Social</br>
                <table id="customers" style="background-color: powderblue;">
                    <tr>
                      <th style="background-color: powderblue;"><a href = "https://www.facebook.com/chitra.roy.94">
                        <img src="/images/Facebook-logo.png" alt=""  height=100 width=110></img></a>
                      </th>
                      <th style="background-color: powderblue;"><a href = "https://www.linkedin.com/in/chitra-roy-93290a193">
                        <img src="/images/lk-logo.png" alt=""  height=100 width=110></img>
                      </a></th>
                    </tr></table>
                <br><br>          
              </aside>
              <!-- Invoking/calling Commonfooter bar from Partials -->
              <% include partials/footer.ejs %> 
             </div>
             </div>
